<?xml version="1.0" encoding="utf-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.speedslice.speedsliceapp">

	<name>SpeedSlice</name>

	<description>
		An app for ordering pizza with a few clicks.
	</description>

	<author href="http://github.com/willyboy"
		email="support@speedslice.com">
		William Neely
	</author>
	<preference name="phonegap-version" value="2.2.0" />
	<preference name="permissions" value="none"/>
	<preference name="fullscreen" value="true" />
	<icon src="images/icon57.png" gap:role="default" />
	<preference name="splash-screen-duration" value="4000" />
    <gap:splash src="splash.png" />
	<gap:plugin name="ChildBrowser" />
	<preference name="orientation" value="portrait" />
	<preference name="webviewbounce" value="false" />	
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="target-device" value="handset" />
	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
</widget>